.footer {
  height: auto;
  background: $gris;
  margin: 60px auto 0;
  position: relative;
  overflow: hidden;
  color: $blanco;

  p {
    max-width: 100%;
    left: -3%;
    position: relative;
  }
}

.img-fei {
  position: absolute;
  width: 45%;
  transform: translate(8%, -12%);
}

.img-footer {
  height: 101px;
  width: 213px;
  display: flex;
  margin-left: -12px;

  a {
    margin-right: 10px;
  }
}

.primera {
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 30px;
  width: 100%;
  padding-left: 19px;
}

.segunda {
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 30px;
  width: 100%;
}

.tercera {
  letter-spacing: 5px;
  font-size: 10px;
  line-height: 30px;
  width: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  input {
    background: $verdeo;
    border: none;
    display: block;
    padding: 10px 7px;
    margin: 10px 12px;
    width: 100%;
  }

  textarea {
    background: $verdeo;
    border: none;
    display: block;
    padding: 10px 7px;
    margin: 10px 12px;
    width: 100%;
    max-width: 100%;
  }

  ::placeholder {
    color: $blanco;
  }

  textarea:focus,
  input:focus {
    outline: none;
  }

  .boton {
    border: solid 2px $blanco;
    padding: 5px 10px;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 10px;
    width: 100px;
    color: $blanco;
    font-weight: 600;
    background: none;
  }

  .boton:hover {
    background: $verdeo;
    transition: 0.5s;
    font-weight: 600;
    color: $gris;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 10px;
    width: 100px;
    cursor: pointer;
    border-color: $verdeo;
  }
}

.copy {
  font-size: 8px;
  letter-spacing: 5px;

  .p {
    left: 19px;
    bottom: 12px;
    position: absolute;
  }
}
