.seccion-1 {
  height: auto;
  padding: 5%;

  h1 {
    color: $verdeo;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  img {
    width: 400px;
    height: 400px;
    padding: 5px;
  }

  p {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 35px;
  }

  .diamante-seccion {
    height: 75px;
    width: 30px;
    margin: 0 auto;

    .rombo-seccion {
      border: solid 7px $verdeo;
      height: 30px;
      width: 30px;
      transform: rotate(-45deg);
    }
  }
}

.seccion-2 {
  position: relative;

  .linea-grande {
    width: 7px;
    position: absolute;
    height: 100%;
    background: $verdeo;
    left: 50%;
    transform: translate(-4px);
  }
}
