.nosotros {
  height: auto;
  margin: 0 auto;
  width: 90%;
}

.img {
  position: relative;
  height: 100vh;

  .img-1,
  .img-2,
  .img-3 {
    background-image: $pattern;
    background-size: cover !important;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-1 {
    height: 330px;
  }

  .img-2 {
    transform: translate(-24%, -24%);
    z-index: 9;
  }

  .img-3 {
    transform: translate(-78%, -78%);
    z-index: 1;
  }
}

.conte-nosotros {
  position: relative;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h1 {
    color: $oliva;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 5px;
  }

  h2 {
    color: $oliva;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 5px;
  }

  p {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: justify;
  }
}

@media only screen and (max-width: 1028px) {
  .img {
    transform: scale(0.7) !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 401px) {
  .img {
    transform: scale(0.7) !important;
    height: 68vh;
  }

  .conte-nosotros {
    height: auto;

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .img {
    transform: scale(0.6) !important;
    height: 68vh;
  }

  .conte-nosotros {
    height: auto;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}
