.diamante-seccion {
  height: 75px;
  width: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .rombo-seccion {
    border: solid 7px $verdeo;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
  }
}

.seccion-1 {
  height: auto;
  margin: 95px auto;
  max-width: 1200px;

  h1 {
    color: $verdeo;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  img {
    width: 400px;
    height: 400px;
    padding: 5px;
  }

  p {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 35px;
  }
}

.seccion-2 {
  position: relative;
  margin-top: 0;

  .linea-grande {
    width: 7px;
    position: absolute;
    height: 100%;
    background: $verdeo;
    left: 50%;
    transform: translate(-4px);
  }

  h2 {
    color: $verdeo;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  img {
    justify-content: center;
  }

  p {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 35px;
  }
}

.seccion-3 {
  position: relative;
  height: auto;

  .linea-pequeña {
    width: 7px;
    position: absolute;
    height: 8%;
    background: $verdeo;
    left: 50%;
    transform: translate(-3px);
    margin: 0 auto;
  }

  a {
    margin: 97px auto 0;
    display: flex;
    justify-content: center;
    width: 241px;
  }

  a:hover {
    width: 241px;
  }
}
