.noticias {
  margin: 0 auto;
  padding: 46px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;

  h1 {
    color: $oliva;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
  }

  h2 {
    color: $oliva;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 5px;
  }
}

/* timeline */

.barra-vertical {
  width: 7px;
  position: absolute;
  height: 100%;
  background: $verdeo;
  left: 50%;
  transform: translate(-50%);
}

.timeline-item {
  padding: 0 10%;
  position: relative;

  .date {
    position: absolute;
    right: 0;
    top: -14px;
    transform: translateX(-45px) rotate(-90deg);
    transform-origin: right;
    color: $verdeo;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  .diamante {
    position: absolute;
    height: 75px;
    width: 50px;
    background: white;
    right: 0;
    transform: translate(50%);

    .rombo {
      border: solid 7px $verdeo;
      height: 30px;
      width: 30px;
      transform: translate(-50%, -50%) rotate(-45deg);
      left: 50%;
      top: 50%;
      position: absolute;
    }
  }

  &:nth-of-type(2n+1) {
    margin-top: 150px;

    .date {
      right: inherit;
      left: 0;
      top: 150px;
      transform-origin: left;
      transform: translateX(45px) rotate(-90deg);
    }

    .diamante {
      right: inherit;
      left: 0;
      transform: translate(-50%);
    }
  }
}

@media only screen and (max-width: 768px) {
  .timeline-item {
    margin-top: 20px !important;

    .date {
      transform: none !important;
      position: relative !important;
      top: 0 !important;
    }

    .diamante {
      display: none !important;
    }

    .rombo {
      display: none !important;
    }
  }

  .barra-vertical {
    display: none;
  }
}
