.noticias {
  margin: 0 auto;
  padding: 46px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;

  h1 {
    color: $oliva;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
  }

  h2 {
    color: $oliva;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 5px;
  }
}

a {
  color: black;
}

/* timeline */

.barra-vertical {
  width: 7px;
  position: absolute;
  height: 100%;
  background: $verdeo;
  left: 50%;
  transform: translate(-50%);
}

.boton {
  text-align: center;
}

.timeline-item {
  padding: 0 10%;
  position: relative;

  .date {
    position: absolute;
    right: 0;
    top: -14px;
    transform: translateX(-45px) rotate(-90deg);
    transform-origin: right;
    color: $verdeo;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  .diamante {
    position: absolute;
    height: 75px;
    width: 50px;
    background: white;
    right: 0;
    transform: translate(50%);

    .rombo {
      border: solid 7px $verdeo;
      height: 30px;
      width: 30px;
      transform: translate(-50%, -50%) rotate(-45deg);
      left: 50%;
      top: 50%;
      position: absolute;
    }
  }

  &:nth-of-type(2n+1) {
    margin-top: 150px;

    .date {
      right: inherit;
      left: 0;
      top: 150px;
      transform-origin: left;
      transform: translateX(45px) rotate(-90deg);
    }

    .diamante {
      right: inherit;
      left: 0;
      transform: translate(-50%);
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 401px) {
  .timeline-item {
    padding-top: 10%;
    padding-bottom: 10%;
    box-shadow: 0 5px 10px rgba(0, 0.1, 0.1, 0.1);

    .date {
      transform: none !important;
      position: relative !important;
      top: 0 !important;
    }

    .diamante {
      display: none !important;
    }

    .rombo {
      display: none !important;
    }
  }

  .barra-vertical {
    display: none;
  }

  .noticias {
    .h1 {
      font-size: 22px;
    }
  }

  .boton {
    width: 208px !important;
  }

  .boton:hover {
    width: 208px !important;
  }
}

@media only screen and (max-width: 400px) {
  .timeline-item {
    box-shadow: 0 5px 10px rgba(0, 0.1, 0.1, 0.1);
    padding-top: 10%;
    padding-bottom: 10%;

    .date {
      transform: none !important;
      position: relative !important;
      top: 0 !important;
    }

    .diamante {
      display: none !important;
    }

    .rombo {
      display: none !important;
    }
  }

  .barra-vertical {
    display: none;
  }

  .noticias {
    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }
  }

  .img-noticia {
    height: 200px;
  }

  .boton {
    width: 208px !important;
  }

  .boton:hover {
    width: 208px !important;
  }
}
