.podcast {
  background-image: $pattern;
  background-size: $patternsize;
  padding: 5%;
}

.podcast-home {
  height: auto;
  margin: 0 auto;
  width: 90%;
  background-color: white;
}

.conte-podcast {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5%;

  h1 {
    color: $oliva;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 5px;
  }

  h2 {
    color: $oliva;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 5px;
  }

  p {
    font-size: 18px;
    letter-spacing: 2px;
    text-align: justify;
  }
}

.podcast-contenido {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

@media only screen and (max-width: 768px) and (min-width: 401px) {
  .podcast-home {
    margin-bottom: 5% !important;
    margin-top: 5% !important;
  }

  .conte-podcast {
    height: auto;
    padding: 10%;

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .podcast-home {
    margin-bottom: 5% !important;
    margin-top: 5% !important;
  }

  .conte-podcast {
    height: auto;
    padding: 10%;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }
}

