.servicios {
  height: auto;
  margin: 0 auto;
}

.servicio-item {
  padding: 14px;
}

.contenido-servicios {
  padding: 50px;

  p {
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 600;
  }

  h2 {
    color: $oliva;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 5px;
  }
}

.img-servicios {
  position: relative;
  height: 100vh;
}

.img-serv {
  height: 60px;
  width: 60px;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering: -o-crisp-edges;         /* Opera */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
