.boton {
  border: solid 3px $gris;
  padding: 10px 30px;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 12px;
  width: 228px;
  color: $gris;
  font-weight: 800;
}

.boton:hover {
  background: $gris;
  transition: 0.5s;
  font-weight: 800;
  color: $blanco;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 12px;
  width: 228px;
}

@media only screen and (max-width: 768px) and (min-width: 401px) {
  .boton,
  input[type=submit] {
    font-size: 10px;
    width: 215px;
  }

  .boton:hover,
  input[type=submit]:hover {
    font-size: 10px;
    width: 215px;
  }
}

@media only screen and (max-width: 400px) {
  .boton,
  input[type=submit] {
    font-size: 10px;
    width: 211px;
    padding: 10px 20px;
  }

  .boton:hover,
  input[type=submit]:hover {
    font-size: 10px;
    width: 211px;
    padding: 10px 20px;
  }
}

